<div class="footer-container">
    <div class="footer-wrapper">
        <img 
            src="/logo-footer.png"
            alt="Logo" 
            class="footer-logo"
        />
        <div class="contact-links">
            <ul class="footer-list">
                <li class="contact footer-item">
                    <a class="footer-link">
                        <p>Contact us</p>
                    </a>
                </li>
                <li class="footer-item">
                    <a class="footer-link">
                        <i class="footer-icon fa-brands fa-whatsapp"></i>
                        <p>Number</p>
                    </a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="" target="_blank">
                        <i class="footer-icon fa-brands fa-instagram"></i>
                        <p>@</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <p class="phrase"></p>
        <p class="copyright">&copy 2023 E-commerce Website. All rights reserved. | Website by <a href="https://hichamamroussi.online"> Ephwo Dev</a></p>
    </div>
</div>