<div class="popup-container">
    <div class="popup">
        <i class="icon fa-solid fa-circle-check"></i>
        <p class="popup-text"></p>
        <button class="popup-btn"></button>
    </div>
</div>