<nav class="navbar-container">
    <img src="/dashboard-profile-pic.jpg" alt="dashboard profile picture" />
    <div>
        <p>Admin</p>
        <form action="/dashboard/logout?_method=DELETE" method="POST"><button class="logout-btn">Log Out</button></form>
    </div>
</nav>
