<nav class="navbar">
    <div class="navbar-container">
        <a class="nav-link" href="/">
            <img 
                src="/logo.png"
                alt="Vintage Corner Logo" 
                class="logo-image"
            />
        </a>

        <ul class="nav-menu">
            <li class="nav-item">
                <a class="nav-link instagram-btn" href="" target="_blank">
                    <i class="nav-icon fa-brands fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link cart-btn" href="/shop/cart">
                    <i class="nav-icon fa-solid fa-cart-shopping"></i>
                    <p class="cart-number">0</p>
                </a>
            </li>
        </ul>
    </div>
</nav>